/*body {*/
    /*background: #fff;*/
/*}*/

/*#header {*/
    /*padding-top:20px;*/
/*}*/

/*#content {*/
    /*margin-top: 2em;*/
    /*padding: 20px;*/
/*}*/

/*#footer {*/
    /*padding:20px;*/
/*}*/

.round {
    -moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    border-radius:         15px;
}

.shadow {
    -moz-box-shadow: 1px 1px 12px #757464;
    -webkit-box-shadow: 1px 1px 12px #757464; 
    box-shadow: 1px 1px 12px #757464;
}

.with_border {
    border: 2px solid #acaa96;
}

/* Links */

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #cccccc;
}


/* Navigation */

.navigation li {
    display: inline-block;
    font-size: 180%;
}

ul {
    margin:0;
}

#news_li a {
    color: #757464;
}

#media_li a {
    color: #b9b6a2;
}

#about_li a {
    color: #b9b6a2;
}

#contact_li a {
    color: #f2eed4;
}

#header .navigation {
    background: url(../images/banner_header.jpg) no-repeat;
    padding: 11em 0 0.5em 0;
}

#header .navigation li {
    padding: 0 3.75em 0 3.75em;
}

#header .navigation li a {
    font-size:120%;
}

#footer .navigation li {
    padding: 0 5.7em 0 5.7em;
}

.inner_content {
    height:410px;
    overflow:auto;
}

.post {
    margin:10px;
    font-size:120%;
    text-align:justify;
    line-height:1.8em;
}


/* Text */

.text-wrapper {
    padding:1.5em;
    background: #f7f7e2;  
}

.inner-text {
    text-align:justify;
    margin-right:240px;
}

.content_header {
    /*font-size:250%;*/
    /*font-weight:bolder;*/
    /*background: #f7f7e2;*/
    text-align:center;
    /*margin:5px 370px 30px 370px;*/
}

.emphase {
    font-size:125%;
    /*font-weight:bold;*/
    text-decoration:underline;
}

.subtitle {
    font-size:150%;
    font-weight:bolder;
}

/* Images */

.img_container {
    width: 218px;
    height: 360px;
    float:right;
}

#home_img_container {
    background: url(../images/quai_mondegreen.jpg) no-repeat;
}

#bethere_img_container {
    background: url(../images/quai_mondegreen.jpg) no-repeat;
}

.home_text_wrapper {
    background: #f7f7e2;
    margin-right:260px;
}

.home_text {   
    padding:1.5em;
}

.about_img {
    width: 680px;
    height: 220px;
    margin: 0 auto 1em;
}

#about_mg {
    background: url(../images/quai_dos.jpg) no-repeat;
}

#about_pb {
    background: url(../images/about_patrice.jpg) no-repeat;
}

#about_fd {
    background: url(../images/about_francois.jpg) no-repeat;
}

#about_bb {
    background: url(../images/about_benjamin.jpg) no-repeat;
}

#about_jbv {
    background: url(../images/about_jeanbaptiste.jpg) no-repeat;
}
