body {
    background: #fff;
}

#header {
    padding:20px;
}

#content {
    margin-top: 1em;
    padding: 20px;
}

/* Links */

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #cccccc;
    text-decoration: underline;
}

a:visited {
    color: #666666;
}

/* Navigation */

.navigation li {
    display: inline-block;
    font-size: 180%;
}

.navigation li a {
    color: #817f71;
    padding: 0 5px;
    font-weight: bold;
    /*text-shadow: #d5d5d5 2px 2px 2px;*/
}

#header .navigation {
    background: url(../images/banner_header_up.jpg) no-repeat;
    padding: 11em 0 0.5em 0;
    -moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    border-radius:         15px;
}

#header .navigation li {
    padding: 0 3em 0 3em;
}

#header .navigation li a {
    font-size:120%;
}

#footer .navigation li {
    padding: 0 5em 0 5em;
}


