<body>
  <h2 align="center" id="content_header">A propos du groupe</h2>
  <div id="inner_content">
    <p>
      Mondegreen est à l'origine un duo créé par <span class="emphase">Patrice</span> et <span class="emphase">François</span>
      au cours de l'été 2003. Tous deux n'hésitaient alors pas à changer d'instrument pour interpréter les chansons du groupe,
      que ce soit sur scène ou en studio. En 2006, <span class="emphase">Benjamin</span> rejoint la formation à la basse, 
      suivi par <span class="emphase">Jean-Baptiste</span> à la batterie au début de l'année 2010.
    </p>
    <div id="about_img_container" class="round with_border">
    </div>
  </div>
</body>
