<body>
<div class="inner_content">
  <div class="post">
      <div id="bethere_img_container" class="round with_border">
      </div>
      <div class="round home_text_wrapper">
        <p class="home_text">
          <span class="emphase">Mondegreen en concert</span><br/>
          <br/>
          Après presque un an d'absence dans les salles de concert parisiennes, Mondegreen fait son retour sur scène le
          <span class="emphase">Dimanche 17 Octobre à 20h au Be There, 
          19 Rue des Deux Ponts dans le 4ème arrondissement à Paris.</span><br/>
          <br/>
          Nous espérons vous voir à cette occasion...<br/>
          <br/>
          <span class="emphase">Be There or be square !</span>
        </p>
      </div>
      <hr/>
  </div>
  <div class="post">
      <div id="home_img_container" class="round with_border">
      </div>
      <div class="round home_text_wrapper">
        <p class="home_text">
          <span class="emphase">Bienvenue !</span><br/>
          <br/>
          La première version du site de Mondegreen est en ligne (et en même temps, vous avez déjà du avoir l'info puisque vous êtes dessus).
          Le contenu du site sera amené à s'enrichir régulièrement, c'est pourquoi nous vous invitons à revenir faire un tour de temps en temps
          pour jeter un oeil ou une oreille à ce que nous aurons à vous proposer.<br/>
          <br/>
          Pour celles et ceux qui ne nous connaissent pas, <span class="emphase">Mondegreen</span> est une formation de quatre musiciens
          dont le registre est principalement le <span class="emphase">rock indie</span>.
          Le groupe est basé à Paris et a plusieurs E.P. et un album à son actif.<br/>
          <br/>
          Nous vous souhaitons une agréable visite !
        </p>
      </div>
  </div>
</div>
</body>



