<body>
  <h2 align="center" id="content_header"><span class="emphase">Bienvenue</span> sur le site de <span class="emphase">Mondegreen</span></h2>
  <div id="inner_content">
      <div id="home_img_container" class="round with_border">
      </div>
      <div id="home_text_container">
        <p>
          <span class="emphase">Mondegreen</span> est un groupe de musique de <span class="emphase">rock indépendant</span> basé à Paris.<br/>
          <br/>
          Vous trouverez sur ce site différentes informations concernant l'univers du groupe, telles que, par exemple, et pour n'en citer que quelques unes,
          car ça prendrait un sacré moment pour toutes les citer, et surtout ça ferait une phrase <span class="emphase">vraiment</span> trop longue
          et probablement difficile à lire, mais pas aussi difficile que si on se mettait à mettre l'accent sur <span class="emphase">n'</span>importe
          <span class="emphase">quel mot</span>, comme ça, juste <span class="emphase">pour</span> la déconne.<br/>
          <br/>
          Car Mondegreen, et vous n'aurez pas manqué de le remarquer à nos mines hilares, c'est avant tout de la déconne, du rire et une sérieuse
          propension à tirer parti de n'importe quelle situation pour la tourner en quelquechose de <span class="emphase">désopilant</span>. 

        </p>
      </div>
  </div>

</body>



