<div id="header">
    <!--%= image_tag("logo_small.png", :alt => "Mondegreen", :class => "round") %-->
    <!--%= image_tag("banner_header_up.jpg", :alt => "MondegreenBanner", :id => "banner") %-->
    <ul class="navigation round">
      <li id="news_li"><%= link_to "News", root_path %></li>
      <li id="media_li"><%= link_to "Media", media_path %></li>
      <li id="about_li"><%= link_to "About", about_path %></li>
      <li id="contact_li"><%= link_to "Contact", contact_path %></li>
    </ul>
</div>