<div id="content" class="prepend-top round shadow with_border span-24 last">
  <br/>
  <br/>
  <h1 align="center" class="loud"><%= @title %></h1>
  <div class="prepend-1 prepend-top append-bottom span-22 colborder last">
    <hr/>
    <%= yield %>
  </div>
</div>